.tiptap {
  blockquote {
    border-left: 3px solid #a16207;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  a {
    cursor: pointer;
    text-decoration: underline;

    &:link { color: #0000EE; }
    &:visited { color: #551A8B; }
    &:link:active, &:visited:active { color: #FF0000; }
    &:hover { color: #6969ec; }
  }

  ul, 
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  ul { list-style-type: disc; }
  ol { list-style-type: decimal-leading-zero; }
}